.container-parents{
    width: 100%;
    background-color: rgb(229,237,244);
    height: 600px;
    
}
.container{
    width: 350px;
    height: 300px;
    line-height: 50px;
    border: 1px solid white;
    padding-left: 100px;
    margin-left: 35%;
    background-color: white;
}
label{
    padding-right: 10px;
}
#price{
    margin-left: 10px;
}
input{
    width: 200px;
    border-top: 1px ;
    border-right: 1px;
    border-left: 1px;
}
#BtnSubmit, #BtnReset{
    width: 100px;
    margin-left: 20px;
    height: 30px;
    box-shadow: 2px 2px;
    
}
h1{
    color: rgb(7,53,213);
}
#BtnSubmit:hover{
    background-color: rgb(74,185,248);
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px;
}
#BtnSubmit:active{
    background-color: rgb(74,185,248);
    

}
#BtnReset:hover{
    background-color: rgb(74,185,248);
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px;
}
#BtnReset:active{
    background-color: rgb(74,185,248);
}