.sidebar {
  background-color: rgb(24, 114, 81);
  height: 100%;
}
#nav-menu ul li {
  list-style-type: none;
  margin-left: -30px;
  width: 165px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 70px;
  padding-top: 20px;
  margin-right: 5px;
}


#nav-menu ul li:hover {
  background-color: rgb(94, 199, 161);
  cursor: pointer;
  border-radius: 10px;
  height: 60px;
}

#nav-menu a {
  color: white;
  text-decoration: none;
}

.fa-tachometer,
.fa-users,
.fa-shopping-bag,
.fa-list-alt,
.fa-usd,
.fa-comments{
  width: 30px;
  color: white;
  float: left;
  font-size: x-large;
}
.fa-users,
.fa-list-alt,
.fa-comments
{
  margin-right: 5px;
}


h1 {
  font-size: larger;
  padding-left: 10px;
}
