#header-bar1 {
  display: flex;
  width: 1280px;
  background-color: white;
  height: 40px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(193, 193, 193);
}
#task {
  padding-left: 10px;
  padding-top: 10px;
}
#dashboard-body {
  margin-left: 100px;
  margin-top: 30px;
}
#total,
#total1 {
  display: flex;
}
#cus-total,
#pro-total {
  display: flex;
  background-color: white;
  width: 550px;
  box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);
  border-radius: 10px;

  
}

#pro-total {
  margin-left: 70px;
  border-radius: 10px;
  height: 160px;
 

}
#ord-total {
  display: flex;
  background-color: white;
  width: 550px;
  box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);
  margin-right: 70px;
  margin-top: 30px;
  border-radius: 10px;
}
#sold-total {
  display: flex;
  background-color: white;
  width: 550px;
  box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);
  margin-top: 30px;
  border-radius: 10px;
}
#icon-cus {
  height: 130px;
  width: 110px;
  background-color: rgb(135, 184, 148);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px
}
#icon-pro {
  height: 130px;
  width: 100px;
  background-color: plum;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px

}
#icon-ord {
  height: 130px;
  width: 110px;
  background-color: rgb(255, 225, 136);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px

}
#icon-sold {
  height: 130px;
  width: 100px;
  background-color:rgb(160, 195, 255);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px

}
#descrip {
  padding-left: 30px;
}
.fa-user {
  margin: 50px 35px;
  color: rgb(33, 99, 51);
  font-size: xx-large;
}
.fa-shopping-basket {
  margin: 50px 28px;
  color:purple;
  font-size: xx-large;
}
.fa-shopping-cart {
  margin: 50px 30px;
  color: rgb(230, 180, 32);
  font-size: xx-large;
}
.fa-commenting {
  margin: 50px 32px;
  color: rgb(69, 116, 197);
  font-size: xx-large;
}

#guest-total {
  padding-left: 60px;
  color: rgb(41, 194, 82);
  font-size:larger;
  margin-top: 20px;
  
}
#guest-link, #pro-link, #order-link, #sold-link{
  text-decoration: none;
  color: black;
}
#product-total {
  padding-left: 60px;
  color: purple;
  font-size:larger;
  margin-top: 20px;

}
#order-total {
  padding-left: 60px;
  color: rgb(219, 170, 20);
  font-size:larger;
  margin-top: 20px;

}
#soldout-total {
  padding-left: 60px;
  color: rgb(69, 116, 197);
  font-size:larger;
  margin-top: 20px;

}
#line1 {
  border-bottom: 1px solid rgb(255, 212, 59);
  width: 280px;
  margin-left: 20px;
  
}
#revenue-report {
  margin-top: 50px;
  background-color: white;
  width: 550px;
  height: 500px;
  margin-right: 70px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);


}
#data-report {
  margin-top: 50px;
  background-color: white;
  width: 550px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);

}
#line2 {
  border-bottom: 2px solid rgb(255, 212, 59);
  margin-left: 20px;
  margin-right: 20px;
}
#content {
  display: flex;
}
#task-report{
  margin-top: 30px;
  margin-right: 20px;
}
h3{
  padding-left: 50px;
}
#word-line{
  margin-left: 80px;
  font-size: large;
}
#title-head{
  font-size: x-large;
  margin-left:20px;
}
#demo{
  margin-left: 750px;
  margin-top: 10px ;
  font-size:medium;
}
#demos{
  margin-left: 1000px;
  margin-top: 10px ;
  font-size:medium;
}
