#login {
  text-align: center;
  font-size: x-large;

}
#login-img {
  height: 300px;
  width: 300px;
}
#container2 {
  height: fit-content;
  margin-top: 150px;
  display: flex;
  margin-left: 460px;
  border: 1px solid white;
  background-color: white;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);;
  width: 700px;
  
}
#left {
  padding-right: 20px;
}
#right {
  padding-right: 30px;
}
#emails,
#passwords {
 
  width: 250px;
  margin-bottom: 10px;
  height: 30px;
  
}
#remember {
  margin-left: 150px;
  margin-bottom: 40px;
}
#linked {
  margin-left: 70px;
  background-color: rgb(93, 215, 198);
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  border: none;
  cursor: pointer;
}
#signup {
  margin-left: 10px;
  width: 90px;
  background-color: rgb(93, 215, 198);
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  border: none;
  cursor: pointer;
}
#signup:hover{
  background-color: rgb(28, 140, 247);
  cursor: pointer;
}
#linked:hover {
  background-color: rgb(28, 140, 247);
  cursor: pointer;
}
.fa-user-circle,
.fa-key{
  font-size: xx-large;
  margin-top: 5px;
  margin-right: 10px;
}
<<<<<<< HEAD

.fa-phone,
.fa-home {
  font-size: xx-large;
  margin-top: 5px;
  margin-right: 14px;
}

#error{
  margin-left: 100px;
}
=======
#error{
  margin-left: 100px;
}
>>>>>>> 99f3d04eb607c8d901442d3bddaec127550888fe
