
#order-add{
<<<<<<< HEAD
  background-color: white;
  width: 550px;
  margin-left: 400px;
  margin-top: 50px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);

}
label {
  float: left;
  width: 150px;
}
#cusId {
  width: 220px;
  height: 20px;
  margin-bottom: 10px;
}
#btnSave {
  margin-left: 100px;
  margin-right: 20px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: rgb(193, 193, 193);
  border: none;
  text-decoration: none;
  color: black;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}
#btnCancel {
  cursor: pointer;
  width: 70px;
  height: 30px;
  text-decoration: none;
  color: black;
  background-color: rgb(193, 193, 193);
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}
#btnSave:hover {
  background-color: rgb(135, 219, 103);
  color: white;
}
#btnCancel:hover {
  background-color: rgb(207, 63, 63);
  color: white;
}
#errors{
  color: red;
}
#product-images{
  height: 160px;
  width: 200px;
  padding-top: 20px;
}
.order-card{
  margin-bottom: 10px;
  background-color: lightgreen;
  width: 250px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

.card-prod{
 display:flex;
 flex-wrap: wrap;
 
}
#select-cus{
  width: 170px;
  margin-bottom: 10px;
}
#order-form{
  display: flex;
}
#total-text{
  margin-left: 50px ;
}
#quantity-text{
  margin-left: -20px;
}
#cus-Id{
background-color: lightgreen;
height: 30px;
margin-bottom: 10px;
margin-top: 10px;
border-top: 1px;
border-left: 1px;
border-right: 1px;
border-bottom: 1px;
outline:none;
font-size: larger;
text-align: center;

}
=======
    background-color: white;
    width: 550px;
    margin-left: 400px;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(193, 193, 193);

  }
  label {
    float: left;
    width: 150px;
  }
  #cusId {
    width: 220px;
    height: 20px;
    margin-bottom: 10px;
  }
  #btnSave {
    margin-left: 100px;
    margin-right: 20px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    background-color: rgb(193, 193, 193);
    border: none;
    text-decoration: none;
    color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }
  #btnCancel {
    cursor: pointer;
    width: 70px;
    height: 30px;
    text-decoration: none;
    color: black;
    background-color: rgb(193, 193, 193);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }
  #btnSave:hover {
    background-color: rgb(135, 219, 103);
    color: white;
  }
  #btnCancel:hover {
    background-color: rgb(207, 63, 63);
    color: white;
  }
  #errors{
    color: red;
  }
  #product-images{
    height: 160px;
    width: 200px;
    padding-top: 20px;
  }
  .order-card{
    margin-bottom: 10px;
    background-color: lightgreen;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
  }

  .card-prod{
   display:flex;
   flex-wrap: wrap;
   
  }
  #select-cus{
    width: 170px;
    margin-bottom: 10px;
  }
  #order-form{
    display: flex;
  }
  #total-text{
    margin-left: 50px ;
  }
  #quantity-text{
    margin-left: -20px;
  }
  #cus-Id{
  background-color: lightgreen;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  outline:none;
  font-size: larger;
  text-align: center;
  
  }
>>>>>>> 99f3d04eb607c8d901442d3bddaec127550888fe
